@model VidlyAuth.ViewModels.CustomerFormViewModel

<div class="container row">
    <h2 class="header">@Model.Title</h2>
    <div class="row">
        <div class="col m8">
            @using (Html.BeginForm("save", "customers"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            Customer Info
                            @if (Model.Id != 0)
                            {
                                <a class="dropdown-trigger right" href="javascript:void(0)" data-target="moreopt-dropdown">
                                    <i class="material-icons">more_vert</i>
                                </a>
                            }
                        </span>
                        <ul id="moreopt-dropdown" class="dropdown-content">
                            <li><a href="javascript:void(0)" class="js-delete">Delete</a></li>
                        </ul>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                @Html.LabelFor(m => m.FirstName, new { @class = "validate" })
                                @Html.TextBoxFor(m => m.FirstName)
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                            <div class="input-field col s12 m6">
                                @Html.LabelFor(m => m.LastName, new { @class = "validate" })
                                @Html.TextBoxFor(m => m.LastName)
                                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                            <div class="input-field col s12 m4">
                                @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.GendersListItems, "Id", "Name"))
                                @Html.LabelFor(m => m.GenderId, new { @class = "validate" })
                                @Html.ValidationMessageFor(m => m.GenderId)
                            </div>
                            <div class="input-field col s12 m8">
                                @Html.DropDownListFor(m => m.MembershipTypeId, Model.MembershipTypesListItems)
                                @Html.LabelFor(m => m.MembershipTypeId, new { @class = "validate" })
                                @Html.ValidationMessageFor(m => m.MembershipTypeId)
                            </div>
                            <div class="input-field col m8">
                                @Html.LabelFor(m => m.Birthdate)
                                @Html.TextBoxFor(m => m.Birthdate, "{0:MMM d, yyyy}", new { @class = "datepicker" })
                                @Html.ValidationMessageFor(m => m.Birthdate)
                            </div>
                            <div class="input-field col s12 m8">
                                <label>
                                    <input name="IsSubscribedToNewsletter" type="checkbox" class="filled-in" checked="checked" value="true" />
                                    <span>Subscribe to Newsletter?</span>
                                </label>
                                <input name="IsSubscribedToNewsletter" type="hidden" value="false" />
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-success">
                            Save
                        </button>
                        <a href="/customers" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h4>Deleting customer...</h4>
        <p>Are you sure you want to delete this customer?</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="javascript:void(0)" data-customer-id="@Model.Id" class="js-modal-delete modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('select').formSelect();
            $('.datepicker').datepicker({
                firstDay: 1,
                yearRange: 120,
                defaultDate: Date.now()
            });
            $(".dropdown-trigger").dropdown();

            $("#moreopt-dropdown").on('click', '.js-delete', function () {
                let deleteModal = M.Modal.init(document.querySelector('#deleteModal'));
                deleteModal.open();
            });

            $("#deleteModal").on('click', '.js-modal-delete', function () {
                let id = $(this).data('customer-id');
                $.ajax({
                    url: "/api/customers/" + id,
                    type: "DELETE",
                    success: function () {
                        window.location.href = "/customers";
                    },
                    error: function () {
                        M.toast({ html: 'Error while deleting this customer. Try later' });
                    }
                });
            });
        });
    </script>
}

